    <div class="sidebar">
        <nav>
            <div class="w-100 d-flex flex-column align-items-center">
                <div class="logoDiv">
                    <a href="../summary.html"><img src="../img/logoWhite.svg" alt="JOIN"></a>
                </div>

                <div class="navChild w-100">
                    <div class="ps-5">
                        <img src="../img/summary.svg" alt="summary">
                        <a class="d-flex align-items-center" href="../summary.html">Summary</a>
                    </div>
                    <div class="ps-5">
                        <img src="../img/board.svg" alt="board">
                        <a class="d-flex align-items-center" href="../board.html">Board</a>
                    </div>
                    <div class="ps-5">
                        <img class="w-38" src="../img/addTask.svg" alt="add task">
                        <a class="d-flex align-items-center" href="#">Add Task</a>
                    </div>
                    <div class="ps-5">
                        <img class="w-38" src="../img/contacts.svg" alt="contacts">
                        <a class="d-flex align-items-center" href="../contacts.html">Contacts</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="legalNoticeDiv">
                    <img src="../img/info.svg" alt="info">
                    <div>Legal notice</div>
                </div>
            </div>
        </nav>

        <header>
            <div>
                Kanban Project Management Tool
            </div>
            <div class="d-flex align-items-center">
                <img src="../img/icon_question.png" alt="question">
                <div class="bold twoLetters gap26px">SM</div>
            </div>
        </header>
    </div>