<body>
  <div class="sidebar">
    <nav>
      <div class="w-100 d-flex flex-column align-items-center">
        <div class="logoDiv">
          <img src="../img/logo.svg" alt="JOIN" />
        </div>

        <div class="navChild w-100">
          <a class="ps-5" href="summary.html">
            <div class="link d-flex align-items-center">
              <img src="../img/summary.svg" alt="summary" />
              <div class="link-text">Summary</div>
            </div>
          </a>
          <a class="ps-5" href="board.html">
            <div class="link d-flex align-items-center">
              <img src="../img/board.svg" alt="board" />
              <div class="link-text">Board</div>
            </div>
          </a>
          <a class="ps-5" href="addtask.html">
            <div class="link d-flex align-items-center">
              <img class="w-38" src="../img/addTask.svg" alt="add task" />
              <div class="link-text">Add Task</div>
            </div>
          </a>
          <a class="ps-5" href="contacts.html">
            <div class="link d-flex align-items-center">
              <img class="w-38" src="../img/contacts.svg" alt="contacts" />
              <div class="link-text">Contacts</div>
            </div>
          </a>
        </div>
      </div>

      <div class="navBar-bottom">
        <div class="legalNoticeDiv">
          <img src="../img/info.svg" alt="info" />
          <div>Legal notice</div>
        </div>
      </div>
    </nav>

    <header>
      <div class="header-text">Kanban Project Management Tool</div>
      <div class="top-right-wrapper">
        <div class="resp-logo">
          <img src="../img/logo_dark.svg" />
        </div>
        <img
          class="icon-question"
          src="../img/icon_question.png"
          alt="question"
        />
        <div
          id="hiddenSidebarMenu"
          onclick="toggleHiddenDropdown()"
          onmouseover="toggleHiddenDropdown()"
          class="logo-top-right"
        >
          <p id="logo-text-initials"></p>
        </div>
      </div>
    </header>
    <div
      id="sidebarDropdown"
      class="hiddenDropdown display-none"
      onmouseleave="closeHiddenDropdown(event)"
    >
      <a href="../help.html" id="hiddenDropdown-help">Help</a>
      <a href="../legal.html" id="hiddenDropdown-legal">Legal notice</a>
      <a href="../privacy.html" id="hiddenDropdown-privacy">Privacy Policy</a>
      <a href="../index.html" id="hiddenDropdown-logout">Log out</a>
      <a href="../imprint.html" id="hiddenDropdown-imprint">Impressum</a>
    </div>
  </div>
</body>

<!-- </html> -->
