.edit-task-section {
    position: absolute;
    top: 50px;
    bottom: 50px;
}


.edit-task-form-board {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100px;
    min-width: 400px;
    overflow: hidden;
    background-color: white;
    padding: 4em 2em;
    border-radius: 20px;
    justify-content: space-evenly;
}

.editTaskBoardBtn {
    padding: 2%;
    background-color: rgba(42, 54, 71, 255);
    border-radius: 8px;
    color: white;
}

.editTaskBoardBtn:hover {
    background-color: #007cee;
    color: white;
    border: 1px solid #007cee;
    -webkit-box-shadow: 0px 3px 15px -2px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 3px 15px -2px rgba(0, 0, 0, 0.14);
    transition: 125ms ease-in-out;
}

.edit-ok-btn {
    display: flex;
    justify-content: flex-end;
}

.edit-prio-btn {
    display: flex;
    height: 61px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

#editTitle,
#editDescription,
#editDate,
.edit-prio-btn {
    margin-bottom: 24px;
    margin-top: 8px;
}

.edit-subtasks-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

#edit-subtasks-label {
    margin-top: 24px;
}

#subtask-edit-content {
    width: 422px;
}

#edit-assigned-label {
    margin-bottom: 8px;
}

#editContactContainerList {
    margin-top: 8px;
}

@media (max-width: 800px) {
    #editTitle,
    #editDescription,
    #editDate,
    .edit-prio-btn,
    #editAssignedInput,
    #edit-assigned-container,
    .edit-subtasks-container,
    #subtask-edit-content,
    #editRenderContacts,
    .edit-contact-item,
    .edit-contacts,
    #subtask-edit-content {
        width: 363px;
    }

    #subtask-edit-input {
        width: 250px;
    }

    .edit-prio-btn,
    .edit-prio-btn button {
        height: 55px;
    }

    #edit-assigned-container {
        margin-bottom: 0px;
    }
}

@media (max-width: 500px) {
    #editTitle,
    #editDescription,
    #editDate,
    .edit-prio-btn,
    #editAssignedInput,
    #edit-assigned-container,
    .edit-subtasks-container,
    #subtask-edit-content,
    #editRenderContacts,
    .edit-contact-item,
    .edit-contacts,
    #subtask-edit-content {
        width: 320px;
    }
    #subtask-edit-input {
        width: 210px;
    }
    #subtask-edit-input input {
        width: 190px;
    }

    .edit-prio-btn,
    .edit-prio-btn button {
        height: 51px;
    }
    .edit-prio-btn button {
       width: 100px; 
    }
}