
::-webkit-scrollbar {
    width: 0px !important;
}


.edit-task-form-board {
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 39%;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 400px;
    overflow: hidden;
    background-color: white;
    padding: 4em 2em;
    border-radius: 20px;
    justify-content: space-evenly;
}

.edit-task-section-wo-btn {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.editTaskBoardBtn {
    padding: 2%;
    background-color: rgba(42, 54, 71, 255);
    border-radius: 8px;
    color: white;
}

.editTaskBoardBtn:hover {
    background-color: #007cee;
    color: white;
    border: 1px solid #007cee;
    -webkit-box-shadow: 0px 3px 15px -2px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 3px 15px -2px rgba(0, 0, 0, 0.14);
    transition: 125ms ease-in-out;
}

.edit-ok-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.prio-btn-edit {
    display: flex;
    height: 61px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    width: 422px;
}

#editTitle,
#editDescription,
#editDate,
.edit-prio-btn {
    margin-bottom: 24px;
    margin-top: 8px;
}

#editDescription {
    height: 110px;
    flex-shrink: 0;
}

#editDate {
    flex-shrink: 0;
}

.edit-subtasks-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

#edit-subtasks-label {
    margin-top: 24px;
}


#subtask-edit-content {
    width: 422px;
}

#edit-assigned-label {
    margin-bottom: 8px;
}

#editContactContainerList {
    margin-top: 8px;
}

.prio-btn-edit {
    margin-bottom: 24px;
}

#edit-priority-label {
    margin-bottom: 8px;
}

.generated-Edit-Subtasks {
    max-height: 139px;
    scrollbar-width: none;
}

  .generated-Edit-Subtasks  li:hover,
.generated-Edit-Subtasks  li:hover .subtask-buttons {
  background: #d1d1d3;
  border-radius: 10px;
  display: flex;
}

.generated-Edit-Subtasks .no-hover li,
.generated-Edit-Subtasks .no-hover li .subtask-buttons {
  background: none;
  border-radius: 0;
}

.generated-Edit-Subtasks .no-hover li .subtask-buttons {
  display: none;
}

.modal-edit-backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5) !important;
    z-index: 999;
}

p {
    margin: 0;
}

@media (max-width: 900px) {
    .edit-task-form-board {
        left: 30%;
    }
}

@media (max-width: 800px) {
    #editTitle,
    #editDescription,
    #editDate,
    .edit-prio-btn,
    #editAssignedInput,
    #edit-assigned-container,
    .edit-subtasks-container,
    #subtask-edit-content,
    #editRenderContacts,
    .edit-contact-item,
    .edit-contacts,
    .prio-btn-edit,
    #subtask-edit-content {
        width: 363px;
    }

    #subtask-edit-input {
        width: 250px;
    }

    .edit-prio-btn,
    .edit-prio-btn button {
        height: 55px;
    }

    #edit-assigned-container {
        margin-bottom: 0px;
    }
}



@media (max-width: 760px) {
    .edit-task-form-board {
        left: 16%;
    }
}

@media screen and (min-width: 871px) and (max-width: 1200px) {
    .edit-task-form-board {
        height: 49em;

    }
}

@media (max-width: 580px) {
    .edit-task-form-board {
        max-width: 350px;
        height: 700px;
    }

    .prio-btn-edit {
        order: 0 !important
    }

    #editTitle,
    #editDescription,
    #editDate,
    .prio-btn-edit,
    #edit-assigned-container,
    #generated-Edit-Subtasks,
    #subtask-edit-content,
    .edit-subtasks-container {
        width: 320px;
    }
    #edit-urgent-btn,
    #edit-medium-btn,
    #edit-low-btn {
        width: 100px;
        height: 50px;
        font-size: 18px;
    }
    #editTitle,
    #editDescription,
    #editDate,
    #editAssignedInput,
    #subtask-edit-input {
        font-size: 18px;
    }

    #generatedSubtaskInput {
       width: 210px; 
    }

}

@media screen and (max-width: 1200px) {
    .prio-btn-edit {
        order: 0 !important
    }
}

@media(max-width: 660px) {
    .edit-task-form-board {
        left: 12%;
        height: 90vh;
        overflow-y: scroll;
    }
}

@media (max-width: 510px) {
    .edit-task-form-board {
        left: 9%;
    }
} 

@media (max-width: 460px) {
    .edit-task-form-board {
        left: 5%;
    }
}

@media(max-width: 428px) {
    .edit-task-form-board {
        min-width: 360px;
        padding: 4em 1em;
    }

    #edit-title-label,
    #editTitle,
    #edit-description-label,
    #editDescription,
    #edit-date-label,
    #editDate,
    #edit-priority-label,
    .prio-btn-edit,
    #edit-assigned-label,
    #edit-assigned-container,
    #edit-subtasks-label,
    .edit-subtasks-container,
    .assigned-container,
    #editAssignedInput,
    #subtask-edit-content {
        font-size: 16px;
    }

    #edit-urgent-btn,
    #edit-medium-btn,
    #edit-low-btn {
        height: 40px;
        font-size: 16px;
    }
    
    #editTitle,
    #editDate,
    .prio-btn-edit,
    #edit-assigned-container,
    .edit-subtasks-container {
        height: 40px;
    }
    #editDescription {
        height: 88px;
    }
    #edit-assigned-container {
        padding: 12px 16px;
    }

    .contact-icon {
        height: 35px;
        width: 35px;
    }
    #editTitle,
    #editDescription,
    #editDate,
    .prio-btn-edit {
        margin-bottom: 16px;
    }

    #edit-subtasks-label {
        margin-top: 16px;
    }
}

@media (max-width: 390px){
    .edit-task-form-board {
        left: 4%;
        right: 2%;
        padding: 4em 0em;
        min-width: 330px;
    }
    .edit-task-section-wo-btn {
        margin-left: 16px;
    }

    #editTitle,
    #editDescription,
    #editDate,
    .prio-btn-edit,
    #edit-assigned-container,
    #generated-Edit-Subtasks,
    #subtask-edit-content,
    .edit-subtasks-container {
        width: 300px;
    }

    #editOkBtn {
        margin-right: 20px;
        font-size: 16px;
        display: flex;
        gap: 6px;
    }

    #editOkBtn svg {
        height: 20px;
        width: 20px;
    }
    #subtask-edit-input {
        width: 170px;
    }
}

@media (max-width: 350px) {
    .edit-task-form-board {
        left: 1.2%;
    }
}