body {
  background-color: rgba(246, 247, 248, 255) !important;
}

.gridContainerChildBoard {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 35px;
  min-height: 300px;
}

.addTaskMobileTopBar {
  display: none;
}

.paddingRight50Px {
  padding-right: 50px;
}

.addTaskBoardBtn {
  background-color: rgba(42, 54, 71, 255);
  border-radius: 8px;
  color: white;
}

.mobileAddTask {
  display: none;
}

.moveBackground {
  background-color: rgba(0, 0, 0, 0.2);
}

.findTaskBtn {
  background-color: white;
  border-radius: 8px;
}

.inputfindTask {
  border: none;
  outline: none;
}

::placeholder {
  color: #d1d1d1;
}

.cursorPointer {
  cursor: pointer;
}

.textWhite {
  color: white;
}

.boxShadow {
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.height40Px {
  height: 40px;
}

.dropArea {
  min-height: 90vh;
}

.bgWhite2 {
  background-color: white;
}

.heightWidth45Px {
  height: 40px;
  width: 40px;
}

.popUpBoardBackground {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.2);
}

.popUpBoardTask {
  position: relative;
  min-height: 100px;
  min-width: 400px;
  max-width: 90%;
  overflow: hidden;
  background-color: white;
  padding: 4em 8em;
  border-radius: 20px;
}

.boardTaskClose {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
}

.heightWidth35Px {
  height: 35px;
  width: 35px;
}

.boardTaskEdit {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.dNone {
  display: none !important;
}

.height35Px {
  height: 35px;
}

.margin-4 {
  margin: -4px;
}

.display-flex {
  display: flex;
}
.left-dialog {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.closeAddTask {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addTaskFormWrapper {
  width: fit-content !important;
  height: fit-content !important;
  padding: 50px;
  background-color: white !important;
  position: absolute;
  border-radius: 30px;
}
#clr-picker {
  z-index: 1200;
}

@media screen and (max-width: 870px) {
  .gridContainerChildBoard {
    display: flex;
    flex-direction: column;
  }
  .gridContainerChildBoard .dropArea {
    min-height: 300px;
  }

  .addTaskBoardBtn {
    display: none;
  }
  .headline-container-board {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .moveableCard {
    max-width: 300px;
  }

  .cardText {
    overflow: hidden;
    max-width: 90%;
    text-overflow: ellipsis;
  }
  .headlineBoard {
    position: relative;
    line-height: 1;
    margin-bottom: 20px;
  }
  .mobileAddTask {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .findTaskBtn,
  .findTaskBtn input {
    width: 100%;
  }
  .boardCategoryHeadline {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 760px) {
  .parentDiv {
    flex-direction: column;
    padding-right: 0;
  }
  .addTaskMobileTopBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
  }

  #addTaskMobileBtn {
    display: flex;
    background-color: #2a3647;
    padding: 18px 10px;
    gap: 4px;
    justify-content: center;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 10px;
  }

  #addTaskMobileBtn img {
    filter: invert();
    object-fit: cover;
    width: 24px;
    height: 24px;
  }

  .addTaskMobileTopBar img {
    object-fit: cover;
    width: 32px;
    height: 39px;
  }
  .gridContainerChildBoard {
    width: 90%;
  }
  .dropArea {
    min-height: 100px !important;
  }
  .headline-container-board {
    align-self: flex-start;
    margin-left: 20px;
  }

  #done {
    padding-bottom: 600px;
  }

  .popUpBoardTask {
    padding: 0;
    width: 100%;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 50px;
    margin-top: 200px;
    max-width: 100%;
  }

  .popUpBoardTask input,
  .popUpBoardTask textarea,
  .category-container,
  #renderCategorys,
  #assigned-container,
  .subtasks-container,
  .prio-btn {
    width: 80% !important;
  }

  .prio-btn {
    justify-content: flex-start;
    min-width: 418px;
  }
  .addTaskHeading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 580px) {
  .addTaskFormWrapper {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0;
  }
  #form-btn-container {
    display: none !important;
  }
  .addTaskHeadline {
    margin-top: 50px;
  }

  .addTaskFormWrapper input,
  .addTaskFormWrapper textarea,
  #category-container,
  #assigned-container,
  #assigned-container > *,
  .subtasks-container,
  .subtasks-container > *,
  #contact-container,
  #contact-container > *,
  .prio-btn {
    width: 90%;
  }
}
