body {
  overflow: hidden;
}

#dialogContact {
  position: relative;
  height: 80%;
  margin: 0;
  z-index: 10;
  padding: 20px 30% 0 5px;
  border: none;
  background-color: #f6f7f8;
}

#dialogContact a[phone] {
  text-decoration: none;
  color: black;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  padding-top: 24px;
}

.background-dialog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
}

.icon-dialog:hover .my-path,
.icon-dialog:hover {
  cursor: pointer;
  color: #007cee;
  fill: #007cee;
}

#dialog__editContact,
#dialog__createContact {
  background-color: #2a3647;
  padding: 0;
  top: 25%;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 30px;
  width: 70%;
  border: none;
  height: 50%;
  transform: translateX(300%);
}

.dialog__editLeftSide,
.dialog__createLeftSide {
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-bottom: 3em;
  gap: 2em;
  padding-left: 2em;
}

.dialog__blue-line {
  width: 5rem;
  border: 1px solid #29ABE2;
  margin-top: -1em;
}

.dialog__editLeftSide h2,
.dialog__createLeftSide h2 {
  font-size: 3rem;
  margin: 0;
  font-weight: 700;
}

.dialog__editLeftSide img,
.dialog__createLeftSide img {
  object-fit: cover;
  width: 50px;
}

.dialog__editRightSide,
.dialog__createRightSide {
  background-color: white;
  position: relative;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dialog__editRightForm,
.dialog__createRightForm {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 2em;
}

.dialog__editInput,
.dialog__createInput {
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 100%;
  padding: 13px 21px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: 90%;
  background-position-y: center;
}

.dialog__editInput:focus,
.dialog__createInput:focus {
  outline: 1px solid #007cee;
}

.dialog__editInput::placeholder,
.dialog__createInput::placeholder {
  opacity: 0.2;
}

#dialog__editNameInput,
#dialog__createNameInput {
  background-image: url(../img/person.svg);
}

#dialog__editEmailInput,
#dialog__createEmailInput {
  background-image: url(../img/mail.svg);
}

#dialog__editPhoneInput,
#dialog__createPhoneInput {
  background-image: url(../img/call.svg);
}

.dialog__editRightBtn,
.dialog__createRightBtn {
  display: flex;
  justify-content: flex-end;
  gap: 3em;
}

.custom-btn-white {
  display: flex;
  padding: 15px 15px;
  line-height: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #2a3647;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background-color: white;
}

.btn-hover:hover {
  border: 1px solid #007cee;
  color: #007cee;
  -webkit-box-shadow: 0px 3px 15px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 3px 15px -2px rgba(0, 0, 0, 0.14);
  transition: 125ms ease-in-out;
}

.btn-save:hover {
  background-color: #007cee;
  color: white;
}

#dialog__editClose,
#dialog__createClose {
  position: absolute;
  top: 1em;
  cursor: pointer;
  right: 1em;
}

.dialog__circle {
  width: 100px !important;
  height: 100px !important;
  font-size: 2.25rem;
}

.show-edit-dialog {
  animation: showEditDialog 1s ease-in-out forwards;
}

/* .icon-dialog svg:hover {
    fill: #007CEE;
} */

.custom-btn {
  display: flex;
  height: 55px;
  z-index: 15;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--white, #fff);
  border-radius: 10px;
  border: 1px solid #2a3647;
  background-color: #2a3647;
}

.custom-style-contacts {
  height: 100vh;
  display: flex;
  margin-left: 232px;
  /* height: calc(100vh - 91px);
    width: calc(100% - 232px); */
  padding-bottom: 50px;
  background-color: rgba(246, 247, 248, 255);
}

.custom-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 64px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a3647;
}


.contacts-header {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.custom-fs-27 {
  font-size: 27px;
}

.custom-fs-21 {
  font-size: 21px;
}

#contactsList {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#contactsListContainer {
  max-height: 100%;
  width: 450px;
  padding: 32px 16px 32px 16px;
  flex-shrink: 0;
  background: var(--white, #fff);
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
  overflow: auto !important;
}

/* .container-letter {
  position: relative;
} */

/* .container-letter > span {
  position: absolute;
} */

.initial {
  /* display: flex; */
  /* align-items: center; */
  /* height: 60px; */
  font-weight: 400;
  font-size: 21px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}

.single-contact-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  border-radius: 10px;
  padding: 15px 25px 15px 15px;
  margin: 8px;
  width: fit-content;
}

.single-contact-card:hover {
  cursor: pointer;
  background-color: #2a3647;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 35px;
  width: 250px;
}

.circle {
  border: 4px solid #fff !important;
  color: #ffffff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #ffffff;
}

#contactsMain {
  padding-left: 4%;
  padding-top: 24px;
  width: 100%;
}

.pos-btn {
  position: absolute;
  right: 16px;
  bottom: 20px;
}

.add-to-contacts-btn {
  display: flex;
  position: absolute;
  bottom: 10%;
  left: calc(116px + 50%);
  transform: translateX(-50%);
  width: 326px;
  height: 74px;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  background: #2a3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  color: white;
  z-index: 10000;
}
/*         //          OVERLAY            //        */
/* GENERAL STYLING */
.pop-up-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(152, 255, 152, 0.8) !important;
}

.container-click-to-close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.custom-overlay-card {
  width: 1212px;
  height: 594px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-overlay-left {
  background-color: var(--version-2-main-color, #2a3647);
  width: 30%;
  display: inline-flex;
  padding: 66px 46px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
}

.overlay-left {
  background-color: var(--version-2-main-color, #2a3647);
}

.contacts-overlay-right {
  background: #ffffff;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

/*FORM STYLING */

.form-name {
  background: url("./img/form_name.png");
  background-repeat: no-repeat;
}

.form-section {
  display: flex;
  align-items: center;
  gap: 84px;
}

.input-container-right {
  display: flex;
  flex-direction: column;
}

.input-container-right input {
  border: none;
  width: 100%;
  margin-left: 18px;
}

.input-container-right input:focus {
  outline: none;
}

.click-to-close:hover {
  cursor: pointer;
}

.contact-input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 422px;
  height: 51px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  margin-right: 53px;
  margin-bottom: 49px;
}

.contact-input-img {
  position: absolute;
  right: 5px;
}

.form-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-btn {
  background-color: #fff;
  display: flex;
  height: 55px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #2a3647;
}

.btn-resp-menu-contacts,
.button-resp-back,
.btn-resp-x,
.btn-resp-add,
.btn-resp-create {
  display: none;
}

.custom-lh-120 {
  line-height: 120%;
}

.resp-none {
  display: none !important;
}

/* ANIMATIONS */
@keyframes showEditDialog {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0);
  }
}

/* RESPONSIVE */
@media only screen and (min-width: 300px) and (max-width: 419px) {
  #contactsMain {
    padding-left: 72px;
    padding-top: 32px;
  }

  .single-contact-card {
    padding: 0;
  }

  #contactsListContainer {
    padding: 0px 0px 0px 16px;
  }

  #dialog__createContact,
  #dialog__editContact {
    width: 80%;
    height: 80%;
    top: 124px;
    z-index: 1000;
  }

  .dialog__editRightForm,
  .dialog__createRightForm {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .btn-resp-add {
    height: 72px;
    width: 72px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 760px) {
  #createContactForm {
    gap: 1.5em;
    margin-top: 30px;
  }
  .dialog__createRightImg {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 760px) {

  .add-to-contacts-btn {
    left: 50%;
  }

  #contactsListContainer {
    width: 100%;
  }

  #seperatorHorizontal {
    display: block !important;
  }

  #dialog__createDeleteBtn,
  #dialog__createSaveBtn,
  .pos-btn,
  .dialog__editLeftSide img,
  .dialog__createLeftSide img,
  .seperator-vertical,
  .resp-none,
  .contacts-none,
  #dialog__deleteBtn,
  #dialog__editBtn,
  #dialog__editClose,
  #dialog__createClose {
    display: none !important;
  }

  #contactsMain {
    padding-top: 0px;
  }

  .btn-resp-x {
    display: block;
    position: absolute;
    background-color: transparent;
    right: 0;
    border: unset;
    margin: 16px;
  }

  .btn-resp-create {
    display: flex;
  }

  .btn-resp-add {
    display: block;
    position: absolute;
    right: 5%;
    bottom: 16%;
    border: unset;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #2a3647;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .button-resp-back {
    display: block !important;
    border: unset;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #fff;
    position: absolute;
    right: 0;
  }

  .btn-resp-menu-contacts {
    position: absolute;
    bottom: 166px;
    bottom: 160px;
    right: 30px;
    display: block;
    border: unset;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #2a3647;
  }

  .btn-resp-menu-contacts:hover {
    background-color: #007cee;
  }

  .btn-resp-options {
    width: 100%;
    border: unset;
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
    gap: 4px;
    background-color: #fff;
  }

  #dialog__editRightBtn button {
    width: 24%;
  }

  .contacts-main {
    position: absolute;
    left: 0;
    right: 0;
    top: 89px;
    bottom: 32px;
    padding-top: unset;
    padding-left: 4%;
    background-color: white;
    z-index: 2;
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    gap: 4%;
  }

  .resp-show-options-background {
    bottom: 95px;
    height: 25%;
    width: 100%;
    z-index: 20;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: transparent;
    position: relative;
  }

  .resp-show-options-container {
    border-radius: 10px;
    position: absolute;
    right: 4px;
    bottom: 4px;
    background-color: white;
    width: 133px;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 8px;
    box-shadow: 0px 3px 15px -2px rgba(0, 0, 0, 0.14);
  }

  #dialogContact {
    background-color: #fff;
    height: unset;
    padding: 12px 0px 0px 0px;
  }

  #dialog__editContact,
  #dialog__createContact {
    flex-direction: column;
    height: 80%;
    top: 80px;
    bottom: 82px;
    width: 90%;
    background-color: white;
  }

  .dialog__editLeftSide,
  .dialog__createLeftSide {
    background-color: #2a3647;
    height: 50%;
    width: 100%;
    justify-content: center;
  }

  .dialog__editRightSide,
  .dialog__createRightSide {
    width: 100%;
    height: 50%;
  }

  .dialog__editRightImg,
  .dialog__createRightImg {
    position: absolute;
    top: calc(50px - 50%);
    margin-top: 10px;
  }

  .contacts-header {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }

  .custom-style-contacts {
    margin-left: 0px;
    width: 100%;
    padding-bottom: 144px;
  }

  .dialog__blue-line {
    order: +1;
  }

  .dialog__editRightBtn,
  .dialog__createRightBtn {
    justify-content: center;
  }

  .dialog__editRightForm,
  .dialog__createRightForm {
    width: 80%;
    margin-top: 10px;
    gap: 1.5em;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1001px) {
  #contactsMain {
    z-index: 1;
    background-color: #f6f7f8;
    padding-top: 40px;
  }

  .custom-style-contacts {
    background-color: #fff;
  }

  .dialog__blue-line {
    display: block !important;
    order: +1 !important;
    margin-top: 2px;
  }

  .seperator-vertical {
    display: none;
  }
  .resp-none,
  .pos-btn,
  .contacts-none {
    display: none;
  }

  .resp-gap {
    gap: 16px !important;
  }

  .contacts-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .btn-resp-x {
    display: block;
    position: absolute;
    background-color: transparent;
    right: 0;
    border: unset;
    margin: 16px;
  }

  .btn-resp-add {
    display: block;
    position: absolute;
    right: 5%;
    bottom: 5%;
    border: unset;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #2a3647;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .button-resp-back {
    display: block !important;
    border: unset;
    border-radius: 50%;
    background-color: #f6f7f8;
    z-index: 2;
    position: absolute;
    right: 8px;
  }

  .btn-resp-menu-contacts {
    position: absolute;
    bottom: 90px;
    right: 30px;
    display: block;
    border: unset;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #2a3647;
    z-index: 10;
  }


  .btn-resp-options {
    width: 100%;
    border: unset;
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
    gap: 4px;
    background-color: #fff;
    z-index: 8;
  }

  .resp-show-options-background {
    height: 25%;
    bottom: 243px;
    width: 100%;
    z-index: 20;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: transparent;
    position: relative;
  }

  .resp-show-options-container {
    border-radius: 10px;
    position: absolute;
    right: 4px;
    bottom: 4px;
    background-color: white;
    width: 24%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 8px;
    box-shadow: 0px 3px 15px -2px rgba(0, 0, 0, 0.14);
  }

  #contactsListContainer {
    width: 95%;
    margin-left: 4%;
  }

  .ml-230 {
    margin-left: unset;
  }

  .contacts-main {
    position: absolute;
    height: calc(100% - 38px) !important;
    width: calc(100% - 240px) !important;
    background-color: white;
  }

  #dialog__editContact,
  #dialog__createContact {
    flex-direction: column;
    height: 90%;
    top: 64px;
    top: 64px;
    width: 65%;
    background-color: white;
    margin-left: 240px;
  }

  #dialog__deleteBtn,
  #dialog__editBtn,
  #dialog__editClose,
  #dialog__createClose {
    display: none !important;
  }


  .dialog__editRightBtn,
  .dialog__createRightBtn {
    justify-content: center;
  }

  .dialog__editLeftSide,
  .dialog__createLeftSide {
    background-color: #2a3647;
    height: 50%;
    width: 100%;
    justify-content: center;
  }

  .dialog__editRightSide,
  .dialog__createRightSide {
    width: 100%;
    height: 50%;
  }

  .dialog__editRightImg,
  .dialog__createRightImg {
    position: absolute;
    top: calc(50px - 50%);
  }

  .dialog__editRightForm,
  .dialog__createRightForm {
    width: 80%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {

  .contacts-header {
    gap: 16px;
    margin-top: 30px;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .seperator-vertical {
    display: none;
  }

  .dialog__blue-line {
    display: block !important;
  }
}

@media only screen and (max-width: 1001px) {
  #dialogContact {
    margin: 24px 0px 0px 0px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1250px) {
  #dialog__editContact, 
  #dialog__createContact {
    left: 20%;
  }
  
  #dialogContact {
    padding: 0;
  }
}

@media only screen and (min-width: 1251px) {
  #dialog__editContact, 
  #dialog__createContact {
    left: 20%;
  }
}