body {
    overflow: hidden;
}

.custom-btn {
    display: flex;
    height: 55px;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white, #FFF);
    border-radius: 10px;
    border: 1px solid #2A3647;
    background-color: #2A3647;
}

.custom-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 64px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #2A3647;
}

.contacts-header {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.custom-fs-27 {
    font-size: 27px;
}

.custom-fs-21 {
    font-size: 21px;
}

#contactsList {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#contactsListContainer {
    max-height: 500px;
    width: 450px;
    flex-shrink: 0;
    background: var(--white, #FFF);
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    overflow: auto !important;
}

.container-letter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.initial {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 37.5px;
    font-weight: 400;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.single-contact-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    margin: 8px;
}

.single-contact-card:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 35px;
    width: 250px;
}

.circle {
    background-color: rosybrown;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #FFFFFF;
}

#contactsMain {
    width: 60%;
}

/*         //          OVERLAY            //        */
/* GENERAL STYLING */
.pop-up-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(152, 255, 152, 0.8) !important;
}

.container-click-to-close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.custom-overlay-card {
    width: 1212px;
    height: 594px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-overlay-left {
    background-color: var(--version-2-main-color, #2A3647);
    width: 30%;
    display: inline-flex;
    padding: 66px 46px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
}

.overlay-left {
    background-color: var(--version-2-main-color, #2A3647);
}

.contacts-overlay-right {
    background: #ffffff;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

/*FORM STYLING */

.form-name {
    background: url("./img/form_name.png");
    background-repeat: no-repeat;
}

.form-section {
    display: flex;
    align-items: center;
    gap: 84px;
}

.input-container-right {
    display: flex;
    flex-direction: column;
}

.input-container-right input {
    border: none;
    width: 100%;
    margin-left: 18px;
}

.input-container-right input:focus {
    outline: none;
}

.click-to-close:hover {
    cursor: pointer;
}

.contact-input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 422px;
    height: 51px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin-right: 53px;
    margin-bottom: 49px;
}

.contact-input-img {
    position: absolute;
    right: 5px;
}

.form-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-btn {
    background-color: #FFF;
    display: flex;
    height: 55px;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #2A3647;
}

/* GENERAL STYLINGS */
.custom-lh-120 {
    line-height: 120%;
}