body {
  background-color: #f6f7f8;
  font-family: Inter;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}
.logo-img {
  position: absolute;
  top: calc(100vh - 50% - 100px);
  left: calc(100vw - 50% - 100px);
  width: 200px;
  height: 200px;
  z-index: 10;
  animation: logoSlideIn 2s forwards 1s;
  background-image: url(../img/logo_dark.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px 16px;
  border-radius: 8px;
  background: #2a3647;
  border: none;
  color: white;
}
.nav {
  display: flex;
  justify-content: flex-end;
}
.nav-join-user {
  gap: 35px;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: appearLoginField 1s forwards 1s;
}

.nav-join-user-mobile {
  align-items: center;
  gap: 35px;
  justify-content: center;
  display: none;
  opacity: 0;
  animation: appearLoginField 1s forwards 1s;
}

.login-box {
  background-color: white;
  position: relative;
  opacity: 0;
  z-index: 5;
  animation: appearLoginField 1s forwards 1s;
  text-align: center;
  align-items: center;
  padding: 32px 0;
  width: 50%;
  min-height: 500px;
  margin: 10vh 100px 0 100px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  justify-content: center;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.login-line {
  width: 100px;
  height: 2px;
  align-self: center;
  background-color: #29abe2;
}
.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  cursor: text;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  padding: 5px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.text-input,
.text-input:focus {
  border: none;
  outline: none;
}

.login-btn-container {
  margin: 20px 0;

  display: flex;
  justify-content: space-between;
}

.topdown-messages {
  padding: 10px;
  background-color: #2a3647;
  color: white;
  width: 30%;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  left: 35%;
  top: 100px;
  opacity: 0;
}

.show-topdown {
  animation: showTopDownAnimation 3s forwards 1s;
}

.checkbox-container {
  display: flex;
  gap: 20px;
}
.remember-checkbox {
  height: 16px;
  width: 17px;
  margin: 5px 10px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../img/checkbox.svg);
  background-size: cover;
}

.remember-checkbox:checked {
  background: url(../img/checkbox_checked.svg);
  background-size: cover;
}

.remember-me-container {
  display: flex;
  align-items: center;
}

.forgot-link {
  color: #29abe2;
  text-decoration: none;
  cursor: pointer;
}

.guest-login-btn {
  border: 1px solid #2a3647;
  background-color: white;
  font-weight: 700;
  color: #2a3647;
}
.checkbox-container {
  margin: 10px 10px;
}

.reset-password-btn {
  min-width: 50px;
  align-self: center;
}

.reset-password-input {
  align-self: center;
}

.arrow-back {
  object-fit: cover;
  cursor: pointer;
  width: 37px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.signup-btn-container {
  margin: 29px 0;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  gap: 16px;
  color: #a8a8a8;
  margin-top: 180px;
}

.footer-container a {
  cursor: pointer;
}

@keyframes logoSlideIn {
  0% {
    top: calc(100vh - 50% - 100px);
    left: calc(100vw - 50% - 100px);
  }

  100% {
    top: 0px;
    left: 10px;
    transform: scale(0.5);
  }
}

@keyframes logoSlideInMobile {
  0% {
    background-image: url(../img/logo_dark.svg);
    top: calc(100vh - 50% - 100px);
    left: calc(100vw - 50% - 100px);
  }

  100% {
    background-image: url(../img/logo_dark.svg);
    top: 0px;
    left: 10px;
    transform: scale(0.5);
  }
}

@keyframes mobileBackgroundColorChange {
  0% {
  }
  100% {
    background-color: #f6f7f8;
  }
}

@keyframes appearLoginField {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showTopDownAnimation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 750px) {
  .login-box {
    width: 70%;
    margin: 15vh 20px 50px 20px;
  }
  .login-line {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #2a3647;
    animation: mobileBackgroundColorChange 2s forwards 1s;
  }
  form {
    align-items: center;
  }
  .logo-img {
    background-image: url(../img/logo_white.svg);
    animation: logoSlideInMobile 2s forwards 1s;
  }
  .login-box {
    width: 90%;
  }
  .footer-container {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .nav-join-user {
    display: none;
  }
  .login-btn-container {
    justify-content: space-around;
    flex-direction: column;
    max-width: fit-content;
    gap: 20px;
  }
  .nav-join-user-mobile {
    display: flex;
    margin-bottom: 100px;
  }
  .input-container {
    margin-right: 20px;
    margin-left: 20px;
  }
  .checkbox-container {
    flex-direction: column-reverse;
    align-self: flex-start;
    gap: 5px;
  }
  .remember-me-container {
    justify-content: flex-start;
  }
  .remember-checkbox {
    margin: 0;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 390px) {
}
