.font61 {
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.font47 {
    color: #000;
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.font36 {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.font27 {
    color: #000;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.font20 {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.font16 {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.font12 {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.w-422 {
    width: 422px;
}

.h-51 {
    height: 51px;
}

.pad-18-21 {
    padding: 18px 21px;
}

.pad-13-21 {
    padding: 13px 21px;
}

.pad-18-15 {
    padding: 18px 15px;
}

.pad-18-10 {
    padding: 18px 10px;
}

.display-none {
    display: none;
}

.ol-none {
    outline: none;
}

.b-none {
    border: none;
}

.cursor-p {
    cursor: pointer;
}