nav {
  position: fixed;
  z-index: 100;
  background-color: rgba(42, 54, 71, 255);
  width: 232px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
}

.sidebar {
  display: flex;
}

.activeSite {
  background-color: rgba(9, 25, 49, 255);
}

header {
  width: 100%;
  height: 89px;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 355px;
  padding-right: 36px;
  font-size: 20px;
  background-color: white;
}

.twoLetters {
  color: #31aee3;
  border: 3px solid black;
  border-radius: 100%;
  padding: 10px;
}

.gap26px {
  margin-left: 26px;
}

.logoDiv {
  padding-bottom: 100px;
}

.resp-logo {
  display: none;
}

.top-right-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo-top-right {
  cursor: pointer;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 56px;
}

.icon-question {
  cursor: pointer;
  object-fit: cover;
  width: 32px;
  height: 32px;
}

#logo-text-initials {
  color: #31aee3;
  margin: 0;
  font-weight: 700;
}

.navChild>a {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.navChild>a:hover {
  background-color: rgba(9, 25, 49, 255);
  cursor: pointer;
}

.navChild>a img {
  padding-right: 8px;
}

.legalNoticeDiv {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  flex-direction: column;
}

.align-div-left {
  display: flex;
  width: 50%;
}

.legalNoticeDiv a {
  color: #a8a8a8 !important;
  cursor: pointer;
}

.legalNoticeDiv a:hover {
  color: #31aee3 !important;
  cursor: pointer;
  font-weight: 700;
}

.navBar-bottom {
  width: 100%;
}

.w-38 {
  width: 38px;
}

.hidden-logo {
  width: 32px;
  height: 39px;
}

.display-none {
  display: none;
}

.hiddenDropdown {
  background-color: #2a3647;
  border-radius: 20px 0px 20px 20px;
  position: absolute;
  top: -90px;
  right: 30px;
  margin-top: 180px;
  z-index: 999;
  padding: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

#hiddenDropdown-logout {
  color: #cdcdcd;
}

.hiddenDropdown a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #cdcdcd;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 8px;
}

.hiddenDropdown a:hover {
  color: white;
}

.padleft-3rem {
  padding-left: 3rem;
}

/* RESPONSIVE */

@media (max-width: 830px) {
  header {
    padding-left: 300px;
  }
}

@media (max-width: 760px) {
  nav {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    display: flex;
    height: 32px;
    box-sizing: border-box;
  }

  header {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: flex-end;
  }

  .header-text {
    display: none;
  }

  .resp-logo {
    display: block;
    position: absolute;
    left: 8px;
    width: 32px;
    height: 32px;
    margin-left: 16px;
  }

  .icon-question {
    display: none;
  }

  .icon-user {
    width: 32px;
    height: 32px;
  }

  .navChild {
    display: flex;
    justify-content: space-around;
  }

  .logoDiv {
    display: none;
  }

  .navBar-bottom {
    display: none;
  }

  .padleft-3rem {
    padding-left: 0;
  }

  nav {
    display: flex;
    height: 80px;
    padding: 5px 16px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }

  .link {
    display: flex;
    width: 76px;
    height: 76px;
    padding: 15px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
  }
  .navChild>a:hover {
    background-color: rgba(9, 25, 49, 255);
    cursor: pointer;
  }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  nav {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    display: flex;
    box-sizing: border-box;
  }

  header {
    position: relative;
    height: 80px;
  }

  .header-text {
    display: none;
  }

  .resp-logo {
    display: block;
    position: absolute;
    left: 8px;
    width: 32px;
    height: 32px;
  }

  .icon-question {
    display: none;
  }

  .icon-user {
    width: 32px;
    height: 32px;
  }

  .navChild {
    display: flex;
  }

  .logoDiv {
    display: none;
  }

  .navBar-bottom {
    display: none;
  }

}

@media (min-width: 761px) {
  #hiddenDropdown-help {
    display: none;
  }

  #hiddenDropdown-legal {
    display: none;
  }

  #hiddenDropdown-privacy {
    display: none;
  }
}

@media (max-width: 760px) {
  #hiddenDropdown-imprint {
    display: none;
  }

  .hiddenDropdown {
    top: -110px;
  }

  .link {
    flex-direction: column;
    align-items: center;
  }

  .link img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .navChild>a img {
    padding-right: 0;
  }

  .navChild>a {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 350px) {
  header {
    padding: 0;
  }
  #hiddenSidebarMenu {
    margin-right: 20px;
    height: 45px;
    width: 45px;
    margin-top: 5px;
  }
  .link img {
    height: 20px;
    width: 20px;
  }
  .link-text {
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  .link {
    margin-left: -5px;
    margin-right: -5px;
  }
}
