/*Basic*/
body {
  margin: 0;
  background: #f6f7f8;
  color: #000;
}

h1,
h2,
h3 {
  margin: 0;
}

.font-64 {
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.font-61 {
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.font-47 {
  font-family: Inter;
  font-size: 47px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.font-27 {
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.font-21 {
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.font-20 {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.font-16 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.custom-border {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background: var(--white, #fff);
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}

.custom-border:hover {
  cursor: pointer;
  background-color: rgba(42, 54, 71, 255);
  color: white;
  transform: scale(1.08);
  transition: ease-in-out;
}

/*Main*/

h3 {
  color: #2a3647;
}

.summary {
  display: flex;
  flex-direction: column;
  margin-left: 296px;
  margin-top: 110px;
}

.summary-content {
  display: flex;
  gap: 60px;
  align-items: center;
}

.summary-header {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 57px;
}

.urgent-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-top {
  display: flex;
  height: 170px;
  padding: 1px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
  flex-shrink: 0;
}

.task-board,
.task-progress,
.task-feedback {
  display: flex;
  width: 168px;
  height: 168px;
  padding: 25px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.task-boad:hover,
.task-progress:hover,
.task-feedback:hover {
  background-color: rgba(42, 54, 71, 255);
}

.main-middle {
  display: flex;
  width: 560px;
  height: 168px;
  padding: 28px 48px;
  justify-content: center;
  align-items: center;
  gap: 61px;
  flex-shrink: 0;
  margin-top: 26.5px;
}

.urgent-left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.main-bottom {
  margin-top: 28.5px;
  display: flex;
  height: 168px;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.to-do,
.done {
  display: flex;
  width: 264px;
  height: 168px;
  padding: 38px 19px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
}

.to-do-content,
.done-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  display: flex;
  flex-direction: column;
}

.greeting-name {
  color: var(--ligth-blue, #29abe2);
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

/*Media Queries*/

@media (max-width: 1320px) {
  .summary {
    margin-left: 300px;
    margin-top: 60px;
  }

  .sumamry-content {
    gap: 40px;
  }
}

@media (max-width: 1200px) {
  .summary {
    margin-left: 280px;
    margin-top: 50px;
  }

  .main-top {
    gap: 20px;
  }

  .main-bottom {
    gap: 20px;
  }

  .task-board,
  .task-progress,
  .task-feedback {
    height: 150px;
    width: 150px;
  }

  .to-do,
  .done {
    width: 235px;
    height: 150px;
  }

  .main-middle {
    height: 150px;
    margin-top: 0px;
    width: 490px;
  }

  .main-middle {
    gap: 44px;
  }
}

@media (max-width: 1140px) {
  .summary-header h1,
  #task-count,
  #progress-count,
  #feedback-count,
  #urgent-count,
  #todo-count,
  #done-count {
    font-size: 50px;
  }

  .summary-header h3 {
    font-size: 24px;
  }

  .task-board span,
  .task-progress span,
  .task-feedback span,
  .urgent span,
  .to-do-content span,
  .done-content span,
  .deadline-text {
    font-size: 16px;
  }

  #urgent-deadline {
    font-size: 18px;
  }

  .main-middle {
    gap: 45px;
  }
}

@media (max-width: 1080px) {
  .summary {
    margin-left: 260px;
  }
}

@media (max-width: 1050px) {
  .greeting {
    display: none;
  }
}

@media (max-width: 760px) {
  .summary-header h1 {
    font-size: 47px;
  }

  .summary-header h3 {
    font-size: 20px;
  }

  #task-count,
  #progress-count,
  #feedback-count,
  #urgent-count,
  #todo-count,
  #done-count {
    font-size: 47px;
  }

  .task-board span,
  .task-progress span,
  .task-feedback span,
  .urgent span,
  .to-do-content span,
  .done-content span,
  .deadline-text {
    font-size: 14px;
  }

  #urgent-deadline {
    font-size: 16px;
  }

  img {
    height: 40px;
    width: 40px;
  }

  .summary {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .summary-header {
    margin-bottom: 0;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  .summary-content {
    margin-top: -20px;
  }

  .summary-header svg {
    order: 1;
    transform: rotate(90deg);
    width: 114px;
    height: 117px;
    stroke-width: 3px;
    margin-top: -47px;
  }

  .greeting {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .summary-content {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .summary-header svg {
    margin-top: -40px;
    margin-left: 30px;
    width: 31px;
    height: 90px;
  }

  .summary-content {
    margin-top: 20px;
  }

  .main-top {
    gap: 24px;
  }

  .main-middle {
    margin-top: 10px;
    width: 512px;
    height: 140px;
  }

  .main-bottom {
    gap: 24px;
    margin-top: 24px;
  }

  .task-board,
  .task-progress,
  .task-feedback {
    height: 150px;
    width: 150px;
  }

  .to-do,
  .done {
    width: 237px;
    height: 150px;
  }
}

@media (max-width: 530px) {
  .task-board,
  .task-progress,
  .task-feedback {
    height: 116px;
    width: 116px;
  }

  .to-do,
  .done {
    width: 186px;
    height: 110px;
  }

  main {
    gap: 24px;
  }

  .main-top {
    height: 116px;
  }

  .main-middle {
    width: 396px;
    height: 110px;
    margin-top: 0;
    gap: 20px;
  }

  .main-middle svg {
    height: 68px;
  }

  .main-bottom {
    margin-top: 0;
    height: 110px;
  }
}

@media (max-width: 410px) {
  #task-count,
  #progress-count,
  #feedback-count,
  #urgent-count,
  #todo-count,
  #done-count {
    font-size: 36px;
  }

  .urgent-left {
    gap: 8px;
  }

  .task-board,
  .task-progress,
  .task-feedback {
    height: 100px;
    width: 100px;
  }

  .to-do,
  .done {
    width: 162px;
    height: 100px;
  }

  .main-top {
    height: 100px;
  }

  .main-middle {
    width: 348px;
    height: 100px;
    gap: 12px;
  }

  .main-middle svg {
    height: 50px;
  }

  .main-bottom {
    height: 100px;
  }
}

@media (max-width: 360px) {
  .main-top {
    gap: 12px;
  }

  #task-count,
  #progress-count,
  #feedback-count,
  #urgent-count,
  #todo-count,
  #done-count {
    font-size: 28px;
  }

  .task-board span,
  .task-progress span,
  .task-feedback span,
  .urgent span,
  .to-do-content span,
  .done-content span,
  .deadline-text {
    font-size: 14px;
  }

  #urgent-deadline {
    font-size: 16px;
  }

  .main-bottom {
    gap: 14px;
    height: 90px;
  }

  .task-board,
  .task-progress,
  .task-feedback {
    height: 90px;
    width: 90px;
  }

  .main-top {
    height: 90px;
  }

  .main-middle {
    width: 294px;
    height: 90px;
    padding: 24px 20px;
  }

  .to-do,
  .done {
    width: 140px;
    height: 90px;
  }

  #task-count,
  #progress-count,
  #feedback-count,
  #urgent-count,
  #todo-count,
  #done-count {
    font-size: 32px;
  }
}

@media (max-height: 700px) {
  .summary {
    margin-top: 5px;
  }

  main {
    gap: 20px;
  }
}
