/*Basic Styles*/
.font61 {
  color: #000;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.font47 {
  color: #000;
  font-family: Inter;
  font-size: 47px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.font36 {
  color: #000;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.font27 {
  color: #000;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.font20 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.font16 {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.font12 {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.ol-none {
  outline: none;
}

.b-none {
  border: none;
}

.w-422 {
  width: 422px;
}

.h-51 {
  height: 51px;
}

.pad-18-21 {
  padding: 18px 21px;
}

.pad-13-21 {
  padding: 13px 21px;
}

.pad-18-15 {
  padding: 18px 15px;
}

.pad-18-10 {
  padding: 18px 10px;
}

.display-none {
  display: none;
}

.cursor-p {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body {
  background: #f6f7f8;
  max-width: 100%;
  overflow: scroll !important;
}

.custom-border {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
}

.category-custom-border {
  border-top: none !important;
  border: 1px solid #d1d1d1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.prio-btn {
  display: flex;
  height: 61px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.shadow {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.add-task-section h1 {
  margin-left: 328px;
  margin-top: 50px;
}

.add-task-section form {
  display: flex;
  flex-direction: column;
  margin-left: 355px;
}

#add-task-form {
  display: flex;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 30px;
  padding: 40px;
  z-index: 25;
  width: fit-content;
}

.add-task-container {
  display: flex;
  z-index: 20;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateX(300%);
}

.top-section {
  display: flex;
}

.top-left {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.top-right {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.bottom-section {
  display: flex;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: -50px;
}

.dark-background {
  background-color: rgba(0, 0, 0, 0.4);
}

.left-dialog {
  margin-left: 0;
}

.add-task-section select {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  z-index: 999;
}

#closeAddTask {
  position: absolute;
  right: 0;
  cursor: pointer;
  top: -20px;
}

.seperator {
  margin-left: 59px;
  margin-right: 59px;
}



#description-input {
  height: 119px;
}

.dropdown button {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.dropdown li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.urgent-btn {
  width: 136px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.urgent-btn:hover,
.medium-btn:hover,
.low-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
}

.medium-btn {
  width: 126px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.low-btn {
  width: 136px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.clear-btn {
  display: flex;
  width: 136px;
  height: 55px;
  padding: 18px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #2a3647;
}

.clear-btn:hover {
  border-color: #29abe2;
  color: #29abe2;
}

.clear-btn:hover svg path {
  stroke: #29abe2;
}

.create-btn-responsive {
  display: flex;
  height: 57px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #2a3647;
  color: white;
}

.create-btn-web {
  display: flex;
  height: 55px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #2a3647;
  color: white;
}

.create-btn:hover {
  background-color: #29abe2;
  border: #29abe2;
}

.form-btn {
  margin-top: 150px;
  margin-left: 78px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.category-btn {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 24px;
}

.custom-circle {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 24px;
}

.urgent-active {
  background-color: #ff3d00 !important;
  color: white;
}

.medium-active {
  background-color: #ffa800 !important;
  color: white;
}

.low-active {
  background-color: #7ae229 !important;
  color: white;
}

.category-container,
.assigned-container,
.subtasks-container {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 422px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  height: 51px;
  align-items: center;
  padding: 18px 21px;
}

.subtasks-container input {
  border: none;
}

.category-button-container button {
  background: white;
  border: none;
}

.assigned-button-container button {
  background: white;
  border: none;
}

.subtasks-button-container button {
  background: white;
  border: none;
}

.contact-item {
  padding-right: 22px;
  display: flex;
  justify-content: space-between;
  width: 415px;
  text-decoration: none;
  margin-left: -27px;
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 8px;
  overflow-x: hidden;
}

.colorpicker {
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 0px;
  margin-right: 8px;
}

.generated-Btn-Container {
  display: flex;
  align-items: center;
}

.generated-Btn-Container button {
  border: none;
  background: white;
}

.generated-subtask-container {
  display: flex;
  gap: 20px;
  padding-bottom: 5px;
  align-items: center;
}

ul {
  margin-bottom: 0rem !important;
  list-style: none;
  padding-left: 0;
}

.categorys {
  margin-top: -15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #fff;
  border-top: none;
}

.ml-15 {
  margin-left: 15px;
}

.categorys ul {
  list-style: none;
  padding: 0;
}

.category-generated-list:hover {
  background-color: lightgray;
}

.category-dropdown-items:hover {
  background-color: lightgray;
}

.category-generated-list li {
  height: 51px;
}

.category-generated-list {
  display: flex;
  align-items: center;
  width: 420px;
}

.category-li-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 22px;
}

.generatedSubtasks {
  max-height: 139px;
  overflow-y: auto;
  scrollbar-width: none;
}

.category-dropdown-items {
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hiddenInput {
  padding: 22px 18px;
  height: 51px;
  border: none;
}

.hidden-input-container {
  margin-top: -65px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.hidden-input-container:focus {
  outline: none;
}

.hidden-input input {
  outline: none;
}

.hidden-input input:focus {
  outline: none;
}

.remove-border {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom: none !important;
}

li {
  cursor: pointer;
}

#renderCategorys {
  max-height: 150px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;;
}

#renderContacts {
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.category-dropdown-items:hover {
  background-color: lightgray;
}

.contacts {
  margin-top: -15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  border-top: none;
  width: 422px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.color-container button {
  border-radius: 50% !important;
  height: 16px !important;
  width: 16px !important;
}

.color-container input {
  background-color: #00000068 !important;
  border-radius: 50% !important;
  height: 10px !important;
  width: 10px !important;
}

.color-container {
  display: flex;
  align-items: center;
}

.you-own-color {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
}

.btn-seperator {
  margin-left: 8px;
  margin-right: 8px;
}

.cancel-btn {
  margin: 0;
  padding: 0;
}

.check-btn {
  margin: 0;
  padding: 0;
}

.check-btn img {
  object-fit: contain;
  height: 21px;
}

#hidden-error p {
  color: red;
  padding-left: 15px;
}

.add-task-form-bord {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-contact-button-task {
  margin-bottom: 5px;
  margin-left: -20px;
  width: 100% !important;
  height: 45px !important;
}

.w-230 {
  width: 230px
}

#dialog__createContact {
  left: 0 !important;
}

@media (max-width: 428px) {
  .add-task-section h1 {
    margin-left: 33px;
    margin-top: 41px;
    font-size: 47px;
  }

  .add-task-section form {
    margin-left: 31px;
  }

  .seperator {
    display: none;
  }

  .top-section,
  .bottom-section {
    flex-direction: column;
    gap: 9px;
  }

  .bottom-right {
    margin-top: 0px;
  }

  .prio-label {
    order: -1;
  }

  .prio-btn {
    order: -1;
  }

  #task-date {
    margin-bottom: 9px;
  }

  label {
    font-size: 16px;
  }

  .categorys,
  #render-categorys,
  #title-input,
  #description-input,
  #category-container,
  #assigned-container,
  #task-date,
  .subtasks-container,
  .contacts,
  .contact-item,
  .prio-btn {
    width: 363px;
    font-size: 16px;
  }

  #category-input,
  #generatedInput,
  #generatedSubtaskInput {
    width: 232px;
  }

  #description-input {
    height: 93px;
  }

  .category-li-item,
  .contact-item {
    font-size: 16px;
  }

  #urgentBtn,
  #mediumBtn,
  #lowBtn {
    height: 47px;
    width: 111px;
    padding: 18px 10px;
    font-size: 16px;
  }

  .contact-item {
    margin-right: 8px;
  }

  #contact-img {
    margin-right: 9px;
  }

  .checkboxImg {
    margin-right: 6px;
  }

  .clear-btn {
    display: none;
  }

  #renderCategorys {
    max-height: 120px;
  }

  .create-btn-web {
    display: none;
  }

  .create-btn-responsive {
    position: absolute;
    top: 11px;
    right: 25px;
    height: 57px;
    width: 130px;
  }

  #subtask-content {
    padding-bottom: 40px;
  }

  .add-to-board-btn {
    bottom: 25% !important;
    left: 50% !important;
  }
}

@media (max-width: 400px) {
  .add-task-section form {
    margin-left: 20px;
  }
}

@media (max-width: 385px) {
  .add-task-section form {
    margin-left: 12px;
  }
}

@media (max-width: 350px) {
  .create-btn-responsive {
    top: 12px;
    right: 10px;
    height: 55px;
    width: 126px;
  }
}


@media (max-width: 330px) {

  .categorys,
  #render-categorys,
  #title-input,
  #description-input,
  #category-container,
  #assigned-container,
  #task-date,
  .subtasks-container,
  #contact-container,
  .contacts,
  .contact-item,
  .prio-btn {
    width: 300px;
  }

  #renderCategoryss {
    max-height: 80px;
  }

  #urgentBtn,
  #mediumBtn,
  #lowBtn {
    height: 42px;
    width: 93.3px;
  }

  .add-task-section h1 {
    margin-left: 10px;
  }
}

#generatedInput,
#generatedSubtaskInput {
  width: 190px;
}

#category-input {
  width: 165px;
}

#description-input {
  height: 85px;
}

.add-to-board-btn {
  display: flex;
  position: absolute;
  bottom: 10%;
  left: calc(116px + 50%);
  transform: translateX(-50%);
  width: 326px;
  height: 74px;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  background: #2a3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  color: white;
}



.subtask-item {
  padding: 5px;
  transition: background-color 0.3s ease;
}

.generatedSubtasks li:hover,
.generatedSubtasks li:hover .subtask-buttons {
  background-color: rgb(201, 197, 197);
  display: flex;
}

::-webkit-scrollbar-thumb {
  background: #f6f7f8 !important;
}

.subtask-buttons {
  display: none;
  align-items: center;
}

.ml-10 {
  margin-left: 10px;
}



.geneneratedSubtasks:hover {
  background: #d1d1d3;
  border-radius: 10px;
}

.ov-scroll {
  overflow-x: scroll;
}

@media (max-width: 1115px) {
  .subtask-item {
    width: 200px;
  }
}


@media (max-width: 370px) {

  .categorys,
  #render-categorys,
  #title-input,
  #description-input,
  #category-container,
  #assigned-container,
  #task-date,
  .subtasks-container,
  .contact-item,
  .prio-btn {
    width: 320px;
  }

  #urgentBtn,
  #mediumBtn,
  #lowBtn {
    height: 45px;
    width: 100px;
  }

  .add-task-section h1 {
    margin-left: 20px;
  }

  .add-to-board-btn {
    width: 250px;
  }
.subtask-item {
  width: 150px;
}

}

@media(max-width: 340px) {

  .categorys,
  #render-categorys,
  #title-input,
  #description-input,
  #category-container,
  #assigned-container,
  #task-date,
  .subtasks-container,
  .contact-item,
  .contacts,
  #contact-container,
  .prio-btn {
    width: 280px;
  }

  #urgentBtn,
  #mediumBtn,
  #lowBtn {
    height: 40px;
    width: 90px;
    padding: 18px 21px;
    align-items: center;
    font-size: 14px;
  }
  .subtask-item {
    width: 120px;
  }
}

@media (max-width: 310px) {
    .categorys,
    #render-categorys,
    #title-input,
    #description-input,
    #category-container,
    #assigned-container,
    #task-date,
    .subtasks-container,
    .contact-item,
    #contact-container,
    .prio-btn {
      width: 260px;
    }

    #generatedSubtaskInput {
      width: 150px;
      font-size: 12px;
    }

    #generatedInput {
      width: 125px;
      font-size: 12px;
    }

    #subtasks-input {
      width: 150px;
    }

    #assigned-input,
    #tasl-date,
    textarea,
    #title-input,
    #category-input {
      font-size: 14px;
    }

    #urgentBtn,
    #mediumBtn,
    #lowBtn {
      height: 35px;
      width: 83px;
      padding: 18px 21px;
      align-items: center;
      font-size: 12px;
    }
    .create-btn-responsive {
      right: 0px;
      top: 9.8px;
      width: 100px;
      height: 62px;
    }
  }



@media only screen and (max-width: 760px) and (min-width: 429px) {
  .add-task-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-task-section h1 {
    margin-left: 0;
  }

  .add-task-section form {
    align-items: center;
    margin-left: 0;
  }

  .top-section {
    flex-direction: column;
  }

  .bottom-section {
    flex-direction: column;
  }

  .bottom-right {
    margin-top: 20px;
  }

  .seperator {
    display: none;
  }

  .prio-btn {
    order: -1;
  }

  .prio-label {
    order: -1;
  }

  .bottom-left {
    gap: 16px;
  }

  #category-input,
  #generatedInput,
  #generatedSubtaskInput {
    width: 280px;
  }

  #description-input,
  #task-date {
    margin-bottom: 10px;
  }

  #renderCategorys,
  .categorys {
    width: 422px;
  }

  .category-generated-list {
    margin-top: -3px;
  }

  .create-btn-web {
    display: none;
  }

  .clear-btn {
    display: none;
  }

  .create-btn-responsive {
    display: flex;
    position: absolute;
    top: 11px;
    right: 25px;
  }

  .add-to-board-btn {
    bottom: 20%;
    left: 50%;
  }
}

@media only screen and (max-width: 949px) and (min-width: 761px) {
  .add-task-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -50px;
  }

  .add-task-section h1 {
    margin-top: 41px;
    margin-bottom: 20px;
    font-size: 61px;
  }

  .seperator {
    display: none;
  }

  .top-section,
  .bottom-section {
    flex-direction: column;
    gap: 9px;
  }

  .bottom-right {
    margin-top: 0px;
  }

  .prio-label {
    order: -1;
  }

  .prio-btn {
    order: -1;
  }

  #task-date {
    margin-bottom: 9px;
  }

  label {
    font-size: 20px;
  }

  .categorys,
  #render-categorys,
  #title-input,
  #description-input,
  #category-container,
  #assigned-container,
  #task-date,
  .subtasks-container,
  .contacts,
  .contact-item,
  .prio-btn {
    width: 422px;
    font-size: 20px;
  }

  #category-input,
  #generatedInput,
  #generatedSubtaskInput {
    width: 280px;
  }

  #description-input {
    height: 115px;
  }

  .category-li-item,
  .contact-item {
    font-size: 20px;
  }

  #urgentBtn,
  #mediumBtn,
  #lowBtn {
    height: 51px;
    width: 134px;
    padding: 18px 10px;
    font-size: 20px;
  }

  .contact-item {
    margin-right: 8px;
  }

  #contact-img {
    margin-right: 9px;
  }

  .checkboxImg {
    margin-right: 6px;
  }

  .clear-btn {
    display: none;
  }

  #renderCategorys {
    max-height: 150px;
  }

  .create-btn-web {
    display: flex;
  }

  .clear-btn {
    display: flex;
  }

  .create-btn-responsive {
    display: none;
  }

  #subtask-content {
    padding-bottom: 40px;
  }

  .form-btn {
    margin-top: 50px !important;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 950px) {

  .add-task-section form,
  .add-task-section h1 {
    margin-left: 255px;
  }

  .add-task-section h1 {
    font-size: 47px;
  }

  .categorys,
  #render-categorys,
  #title-input,
  #description-input,
  #category-container,
  #assigned-container,
  #task-date,
  .subtasks-container,
  .contacts,
  .contact-item,
  .prio-btn {
    width: 320px;
    font-size: 16px;
  }

  #urgentBtn,
  #mediumBtn,
  #lowBtn {
    height: 47px;
    width: 100px;
    padding: 18px 10px;
    font-size: 16px;
  }

  #description-input {
    height: 120px;
  }

  .seperator {
    margin-left: 25px;
    margin-right: 25px;
  }

  .label {
    font-size: 16px;
  }

  .category-li-item {
    font-size: 16px;
  }

  #generatedInput,
  #generatedSubtaskInput,
  .subtasks-input {
    width: 180px;
    font-size: 16px;
  }

  .form-btn {
    margin-left: 0px;
    margin-top: 75px;
    gap: 10px;
  }

  .form-btn button {
    font-size: 16px;
    height: 50px;
  }

  .create-btn-responsive {
    display: none;
  }

  .clear-btn {
    width: 100px;
  }

  .create-btn-web {
    width: 160px;
  }

  #contact-img {
    margin-right: 3px;
  }

  .add-to-board-btn {
    left: calc(116px + 50%);
  }
}

@media only screen and (max-width: 1100px) and (min-width: 1001px) {
  .add-task-section h1 {
    margin-left: 275px;
  }

  .add-task-section form {
    margin-left: 270px;
  }

  .categorys,
  #render-categorys,
  #title-input,
  #description-input,
  #category-container,
  #assigned-container,
  #task-date,
  .subtasks-container,
  .contacts,
  .contact-item,
  .prio-btn {
    width: 320px;
    font-size: 18px;
  }

  .label {
    font-size: 18px;
  }

  #generatedInput,
  #generatedSubtaskInput,
  .subtasks-input {
    width: 180px;
    font-size: 18px;
  }

  #category-input {
    width: 195px;
    font-size: 18px;
  }

  #description-input {
    height: 120px;
  }

  .seperator {
    margin-left: 35px;
    margin-right: 35px;
  }

  #urgentBtn,
  #mediumBtn,
  #lowBtn {
    height: 47px;
    width: 100px;
    padding: 18px 10px;
    font-size: 18px;
  }

  .form-btn {
    margin-left: -30px;
    font-size: 18px;
  }

  .create-btn-responsive {
    display: none;
  }

  .add-to-board-btn {
    left: calc(116px + 50%);
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1101px) {

  .categorys,
  #render-categorys,
  #title-input,
  #description-input,
  #category-container,
  #assigned-container,
  #task-date,
  .subtasks-container,
  .contacts,
  .contact-item,
  .prio-btn {
    width: 363px;
  }

  #category-input,
  #generatedInput,
  #generatedSubtaskInput {
    width: 232px;
  }

  #urgentBtn,
  #mediumBtn,
  #lowBtn {
    height: 51px;
    width: 117px;
    padding: 18px 10px;
  }

  .seperator {
    margin-left: 40px;
    margin-right: 40px;
  }

  .form-btn {
    margin-left: 20px;
    gap: 15px;
    margin-top: 105px;
  }

  .add-task-section form {
    margin-left: 300px;
  }

  .add-task-section h1 {
    margin-left: 305px;
  }

  #contact-img {
    margin-right: 3px;
  }

  .create-btn-responsive {
    display: none;
  }

  #description-input {
    height: 120px;
  }
}

@media only screen and (max-width: 1380px) and (min-width: 1201px) {
  .add-task-section form {
    margin-left: 290px;
  }

  .add-task-section h1 {
    margin-left: 298px;
  }

  .categorys,
  #render-categorys,
  #title-input,
  #description-input,
  #category-container,
  #assigned-container,
  #task-date,
  .subtasks-container,
  .contacts,
  .contact-item,
  .prio-btn {
    width: 380px;
  }

  .category-input,
  #category-input {
    width: 280px;
  }

  #description-input {
    height: 120px;
  }

  .form-btn {
    margin-left: 45px;
    margin-top: 130px;
  }

  #contact-img {
    margin-right: 4px;
  }

  .create-btn-responsive {
    display: none;
  }
}

@media (min-width: 1380px) {

  .category-input,
  #category-input {
    width: 300px;
  }

  #description-input {
    height: 120px;
  }

  #contact-img {
    margin-right: 3px;
  }

  .create-btn-responsive {
    display: none;
  }
}

@media (min-width: 1201px) {
  #generatedSubtaskInput {
    width: 220px;
  }
}

@media (min-width: 1430px) {
  .add-to-board-btn {
    left: 831px;
    bottom: 10%;
  }
}

@media (max-width: 760px) {
  .create-btn-responsive {
    display: flex !important;
  }
}

@media(max-width: 310px) {
  .create-btn-responsive {
    right: 10px;
    top: 17.8px;
    width: 135px;
    height: 50px;
  }
}

